body {
    width: 360px !important;
    height: 600px !important;
    overflow: hidden;
    margin: 0 auto !important;
    font-family: 'Poppins !important'
}

div {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 2px !important;
    height: 5px !important;
    background-color: rgba(32, 32, 32, 0.5) !important;
}

::-webkit-scrollbar-thumb {
    background-color: #202020 !important;
    background-clip: padding-box;
    border-radius: 0;
}

::-webkit-scrollbar-thumb :hover {
    background-color: rgba(32, 32, 32, 0.5);
}

::-webkit-scrollbar {
    display: none
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.logo {
    margin-bottom: 3rem;
    text-align: center;
    .name {
        font-size: 28px;
        line-height: 1.875rem;
        margin-top: 1.5rem;
        font-weight: bold
    }
}

div{
    box-sizing: border-box;
}

.mt2 {
    margin-top: 16px !important;
}
.mb2 {
    margin-bottom: 16px !important;
}

.tl {
    text-align: left !important;
}

.mt1 {
    margin-top: 8px !important;
}

.mt3 {
    margin-top: 24px !important;
}

.mt4 {
    margin-top: 32px !important;
}

.pt4 {
    padding-top: 32px;
}

.p1 {
    padding: 8px !important;
}

.px1 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.px2 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.py1 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py2 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.ml1 {
    margin-left: 8px !important;
}

.mr1 {
    margin-right: 8px !important;
}

.container {
    height: 100vh;
    padding: 48px 16px 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.bottomBtn{width: 100%;padding:0 16px;position: fixed;bottom: 24px;left: 0;}
.ml1{
    margin-left: 8px !important;
}
textarea {
    background-color: #f5f5f5;
    border-radius: 12px;
    border-color: transparent;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 8px;
    resize: none;
    &.error{
        border: 2px solid #F23E5F !important;
    }
}
.text-center {
    text-align: center;
}

.flex{
    display: flex !important;
}

.justify-between{
    justify-content: space-between !important;
}

.items-center{
    align-items: center !important;
}

.flexDirectionCloumn{
    flex-direction: column !important;
}
/* 
.MuiSwitch-switchBase.Mui-checked{
    transform: translateX(16px) !important;
}
.MuiSwitch-colorPrimary.Mui-checked{
    color: #fff !important;
}
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track{
    opacity: 1 !important;
}
.background-color-F9F9F9{
    background-color: #F9F9F9 !important;
} */
.root{
    /* display: flex;
    justify-content: center; */
    width: 360px;
     
}

.overflow-text{
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}
