.dashboard-content{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-top: 56px;
    flex-wrap: nowrap;
    .chainList{
        .chainItem{
            position: relative;
            display: flex;
            flex-shrink: 1;
            margin: 16px 0;
            align-items: center;
            justify-content: center;
            &.active{
                .img{
                    filter: grayscale(0);
                }
            }

            .img{
                width: 32px;
                height: 32px;
                filter: grayscale(0.9) opacity(30%);
            }
            
            .activeBar{
                display: block;
                width: 4px;
                height: 18px;
                position: absolute;
                left: 0px;
            }
            .icon{
                width: 32px;
                height: 32px;
                display:flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0 12px;
            }
        }
    }
    .chainContent{
        height: 100%;
        width: 324px;
        //flex: 1 1 auto;
    }
}
.flex-no-wrap{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
}