.mt-1-5 {
  margin-top: 0.75rem;
}
.dialogPwdBox{height: 216px;overflow: hidden;}

.pdzero{padding: 0 8px !important;overflow: hidden !important;}
.set-options {
  padding: 1.375rem 1.125rem;
  background-color: #F9F9F9;
  border-radius: 0.75rem;
  line-height: 1.375rem;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;

  img {
    margin-right: 20px;
  }

  span {
    display: inline-block;
  }
}

.set-options:hover {
  opacity: .75;
}